body {
  background-color: #023b59;
}

canvas {
  background: #021621;
  border: 1px solid white;
  box-shadow: 3px 3px 10px;
  display: block;
  margin: 0 auto;
}

h2 {
  font-family: 'Press Start 2P', courier;
  color: #1aadff;
}

h4 {
  font-family: 'Press Start 2P', courier;
  color: #ffe130;
}

h5 {
  font-family: 'Press Start 2P', courier;
  color: #1aadff;
}

button {
  background-color: #1aadff;
  border: none;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: 'Press Start 2P', courier;
}

form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

footer {
  margin-top: 15px;
  text-align: center;
  font-family: 'Press Start 2P', courier;
  font-size: 8px;
  color: #82cfd7;
}

.login-score-container {
  background: #021621;
  border: 1px solid white;
  box-shadow: 3px 3px 10px;
  display: table;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  text-align: center;
}

.g-screen-container {
  display: table-cell;
  /* text-align: center; */
  vertical-align: middle;
}

.dead-friend {
  margin-bottom: 20px;
}

.abduct-friend {
  width: 250px;
  height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.your-score {
  width: 100px;
  height: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family:
}

.your-score-quantity {
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2em;
  font-family: 'Press Start 2P', courier;
}

.high-score {
  width: 100px;
  height: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.g-hsq {
  width: 400px;
  height: 20px;
  color: white;
  margin-top: 10px;
  display: block;
  text-align: center;
  font-family: 'Press Start 2P', courier;
  font-size: 0.75em;
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
