body {
  background-color: #023b59;
}

canvas {
  background: #021621;
  border: 1px solid white;
  box-shadow: 3px 3px 10px;
  display: block;
  margin: 0 auto;
}


h4 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.login-score-container {
  background: #021621;
  border: 1px solid white;
  box-shadow: 3px 3px 10px;
  display: table;
  margin: 0 auto;
  height: 600px;
  width: 400px;
  text-align: center;
}

.form-submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
